
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav class="main_nav" i18n="@@menu">
  <a class="button"  routerLink="" >Home</a>
  <a class="button"  routerLink="/about">About</a>
  <a  class="button" routerLink="/countdown" >Countdown</a>
  <a class="button" routerLink="/info" >Info</a>
  <a class="button"  routerLink="/secret" >Secret</a>
</nav>
<div class="wrapper">
  <div class="main">
    <router-outlet />
  </div>
  <footer >
    <p>&copy; 2024 My Website. All Rights Reserved.</p>
  </footer>
</div>